# ==========================================================
# GitHub Models
# ==========================================================

GITHUB_TOKEN=your_github_token_here
GITHUB_ENDPOINT=https://models.github.ai/inference
EMBEDDING_MODEL=your_embedding_model_here


# ==========================================================
# Sentence Transformers
# ==========================================================

SENTENCE_TRANSFORMER_MODEL=sentence-transformers/all-MiniLM-L6-v2


# ==========================================================
# ChromaDB
# ==========================================================

CHROMA_DB_PATH=./chroma_db
CHROMA_COLLECTION_NAME=employee_documents


# ==========================================================
# Qdrant
# ==========================================================

QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_URL=your_qdrant_url_here
QDRANT_COLLECTION=employee_documents

QDRANT_HOST=localhost
QDRANT_PORT=6333


# ==========================================================
# FAISS - Sentence Transformer
# ==========================================================

FAISS_ST_INDEX_PATH=./faiss_st_index
FAISS_ST_DIMENSION=384